html, body {
    height: 100%;
  }
body {
    overflow: hidden; 
  }
form {
  margin-left: 34.5%;
  padding: 0;
}
#canvas {
  margin-top: 75px;
  /* This centers our sketch horizontally. */
  margin-left: 33%;
  margin-right: 33%;
  }

 /* #selectorButton {
      margin-left: 33%;
  } */